doctype html
head

body
  #eventcontainer.container-fluid
    h4
      a(href='/')
        #daily.span.badge.badge-secondary Daily
      span.badge.badge-secondary Monthly
      span.badge.badge-secondary Caterory
    
    each event in events
      .card.col-md-9.mb-3
        .card-header
          h3= event.name
        .card-body
          .card-title 
            h5= event.startdate
          .card-title
            h5= event.location + '    '
              a(href=event.orgURL target='_blank')
                = event.organizer
          .card-text
            p= event.description
          if event.img != ''
            .card-text
              //- img.img-fluid(src='img/' + event.img alt='Responsive image')
